<launch>
    <arg name="frame_id_global"                     default="map"/>
    <arg name="frame_id_robot_base"                 default="base_link"/>
    <arg name="topic_scan"                          default="scan"/>
    <arg name="sigma_p"                             default="1.0"/>     <!-- 推定誤差共分散行列対角要素の初期値 -->
    <arg name="sigma_q"                             default="0.00001"/> <!-- 観測ノイズ（ガウス分布） 共分散行列の対角要素 -->
    <arg name="sigma_r"                             default="0.00001"/> <!-- システムノイズ（ガウス分布） 共分散行列の対角要素 -->
    

    <node pkg="potbot_filter" name="state_estimation" type="state_estimation" output="screen">
        <param name="sigma_p"                       value="$(arg sigma_p)"/>
        <param name="sigma_q"                       value="$(arg sigma_q)"/>    
        <param name="sigma_r"                       value="$(arg sigma_r)"/>    
    </node>

    <node pkg="potbot_filter" name="scan2d_clustering" type="2dscan_clustering" output="screen">
        <param name="frame_id_global"               value="$(arg frame_id_global)"/>
        <param name="frame_id_robot_base"           value="$(arg frame_id_robot_base)"/>
        <param name="topic_scan"                    value="$(arg topic_scan)"/>
    </node>
</launch>
