<launch>
    <arg name="FRAME_ID/GLOBAL"                     default="map"/>
    <arg name="FRAME_ID/ROBOT_BASE"                 default="base_link"/>
    <arg name="TOPIC/SCAN"                          default="scan"/>
    <arg name="SIGMA/P"                             default="1.0"/>     <!-- 推定誤差共分散行列対角要素の初期値 -->
    <arg name="SIGMA/Q"                             default="0.00001"/> <!-- 観測ノイズ（ガウス分布） 共分散行列の対角要素 -->
    <arg name="SIGMA/R"                             default="0.00001"/> <!-- システムノイズ（ガウス分布） 共分散行列の対角要素 -->
    

    <node pkg="potbot_filter" name="state_estimation" type="state_estimation" output="screen">
        <param name="SIGMA/P"                       value="$(arg SIGMA/P)"/>
        <param name="SIGMA/Q"                       value="$(arg SIGMA/Q)"/>    
        <param name="SIGMA/R"                       value="$(arg SIGMA/R)"/>    
        <param name="FRAME_ID/GLOBAL"               value="$(arg FRAME_ID/GLOBAL)"/>
        <param name="FRAME_ID/ROBOT_BASE"           value="$(arg FRAME_ID/ROBOT_BASE)"/>
    </node>

    <node pkg="potbot_filter" name="scan2d_clustering" type="2dscan_clustering" output="screen">
        <param name="FRAME_ID/GLOBAL"               value="$(arg FRAME_ID/GLOBAL)"/>
        <param name="FRAME_ID/ROBOT_BASE"           value="$(arg FRAME_ID/ROBOT_BASE)"/>
        <param name="TOPIC/SCAN"                    value="$(arg TOPIC/SCAN)"/>
    </node>
</launch>
