<launch>
    <arg name="publish_control_command"         default="true"/>
    <arg name="topic_odom"                      default="odom"/>
    <arg name="topic_cmd"                       default="cmd_vel"/>
    <arg name="topic_goal"                      default="/move_base_simple/goal"/>
    <arg name="distance_to_lookahead_point"     default="0.1"/>
    <arg name="gain_p"                          default="1.0"/>
    <arg name="gain_i"                          default="0.1"/>
    <arg name="gain_d"                          default="0.001"/>
    <arg name="stop_margin_angle"               default="0.2"/>
    <arg name="stop_margin_distance"            default="0.05"/>
    <arg name="max_linear_velocity"             default="0.3"/>
    <arg name="max_angular_velocity"            default="0.3"/>

    <node pkg="potbot_controller" name="potbot_controller_node" type="potbot_controller_node">
        <param name="publish_control_command"       value="$(arg publish_control_command)"/>
        <param name="topic_odom"                    value="$(arg topic_odom)"/>
        <param name="topic_cmd"                     value="$(arg topic_cmd)"/>
        <param name="topic_goal"                    value="$(arg topic_goal)"/>
        <param name="distance_to_lookahead_point"   value="$(arg distance_to_lookahead_point)"/>
        <param name="gain_p"                        value="$(arg gain_p)"/>
        <param name="gain_i"                        value="$(arg gain_i)"/>
        <param name="gain_d"                        value="$(arg gain_d)"/>
        <param name="stop_margin_angle"             value="$(arg stop_margin_angle)"/>
        <param name="stop_margin_distance"          value="$(arg stop_margin_distance)"/>
        <param name="max_linear_velocity"           value="$(arg max_linear_velocity)"/>
        <param name="max_angular_velocity"          value="$(arg max_angular_velocity)"/>
    </node>
</launch>
