<launch>
        <arg name="PUBLISH_COMMAND"             default="true"/>
        <arg name="FRAME_ID/GLOBAL"             default="map"/>
        <arg name="FRAME_ID/ROBOT_BASE"         default="basa_link"/>
        <arg name="TARGET/POSITION/X"           default="6.0"/>
        <arg name="TARGET/POSITION/Y"           default="0.0"/>
        <arg name="TARGET/POSITION/YAW"         default="0.0"/>
        <arg name="CONTROLLER"                  default="pure_pursuit"/>
        <arg name="MAX_LINEAR_VELOCITY"         default="0.2"/>
        <arg name="MAX_ANGULAR_VELOCITY"        default="0.3"/>
        <arg name="TOPIC/ODOM"                  default="odom"/>
        <arg name="TOPIC/CMD_VEL"               default="cmd_vel"/>
        <arg name="PATH_TRACKING_MARGIN"        default="0.1"/>

    <node pkg="potbot_controller" name="potbot_controller_co" type="potbot_controller_co" output="screen">
        <param name="PUBLISH_COMMAND"           value="$(arg PUBLISH_COMMAND)"/>
        <param name="PATH_TRACKING_MARGIN"      value="$(arg PATH_TRACKING_MARGIN)"/>
        <param name="FRAME_ID/GLOBAL"           value="$(arg FRAME_ID/GLOBAL)"/>
        <param name="FRAME_ID/ROBOT_BASE"       value="$(arg FRAME_ID/ROBOT_BASE)"/>
        <param name="TARGET/POSITION/X"         value="$(arg TARGET/POSITION/X)"/>
        <param name="TARGET/POSITION/Y"         value="$(arg TARGET/POSITION/Y)"/>
        <param name="TARGET/POSITION/YAW"       value="$(arg TARGET/POSITION/YAW)"/>
        <param name="CONTROLLER"                value="$(arg CONTROLLER)"/>
        <param name="MAX_LINEAR_VELOCITY"       value="$(arg MAX_LINEAR_VELOCITY)"/>
        <param name="MAX_ANGULAR_VELOCITY"      value="$(arg MAX_ANGULAR_VELOCITY)"/>
        <param name="TOPIC/ODOM"                value="$(arg TOPIC/ODOM)"/>
        <param name="TOPIC/CMD_VEL"             value="$(arg TOPIC/CMD_VEL)"/>
    </node>
</launch>
