<launch>
   <arg name="USE_RVIZ" default="false"/>
   <arg name="PATH_PLANNING_METHOD" default="csv"/>
   <!--potential_method csv-->
   <arg name="PATH_PLANNING_FILE" default="sin.csv"/>
   <arg name="FRAME_ID/GLOBAL" default="map"/>
   <arg name="FRAME_ID/ROBOT_BASE" default="base_footprint"/>
   <arg name="TARGET/POSITION/X" default="6.0"/>
   <arg name="TARGET/POSITION/Y" default="0.0"/>
   <arg name="TARGET/POSITION/YAW" default="0.0"/>
   <arg name="TOPIC/SCAN" default="scan"/>
   <arg name="TOPIC/ODOM" default="odom"/>

   
   <node pkg="potbot_pathplanner" name="potbot_pathplanner_pp" type="potbot_pathplanner_pp" output="screen">
      <param name="USE_RVIZ" value="$(arg USE_RVIZ)"/>
      <param name="PATH_PLANNING_METHOD" value="$(arg PATH_PLANNING_METHOD)"/>
      <param name="PATH_PLANNING_FILE" value="$(find potbot_description)/path/$(arg PATH_PLANNING_FILE)"/>
      <param name="USE_AMCL" value="false"/>
      <param name="TARGET/POSITION/X" value="$(arg TARGET/POSITION/X)"/>
      <param name="TARGET/POSITION/Y" value="$(arg TARGET/POSITION/Y)"/>
      <param name="TARGET/POSITION/YAW" value="$(arg TARGET/POSITION/YAW)"/>
      <param name="POTENTIAL_FIELD_WIDTH" value="2"/>
      <param name="POTENTIAL_FIELD_DIVDE_X" value="20"/>
      <param name="POTENTIAL_FIELD_DIVDE_Y" value="20"/>
      <param name="FRAME_ID/GLOBAL" value="$(arg FRAME_ID/GLOBAL)"/>
      <param name="FRAME_ID/ROBOT_BASE" value="$(arg FRAME_ID/ROBOT_BASE)"/>
      <param name="TOPIC/SCAN" value="$(arg TOPIC/SCAN)"/>
      <param name="TOPIC/ODOM" value="$(arg TOPIC/ODOM)"/>
   </node>
   
</launch>
