<launch>
  <!-- <arg name="robot_name"        default="robot2"/> -->
  <!--map-->
  <arg name="localMap/width/float" value="4.6"/><!--2.3 -->
  <arg name="localMap/height/float" value="12.0"/><!--6.0  -->
  <arg name="localMap/resolution" value="0.05"/><!--5 cm  -->
 <!-- rqt_reconfigure -->
 <arg name="classification/rqt_reconfigure" value="true"/>
 <arg name="imageMatching/rqt_reconfigure" value="true"/>
 <arg name="measurementVelocity/rqt_reconfigure" value="true"/>
 <arg name="estimationVelocity/rqt_reconfigure" value="true"/>
 <!-- output_screen-->
 <arg name="lrfCamera/output_screen" value="false"/>
 <arg name="classification/output_screen" value="false"/>
 <arg name="imageMatching/output_screen" value="false"/>
 <arg name="measurementVelocity/output_screen" value="true"/>
 <arg name="estimationVelocity/output_screen" value="true"/>
 
  <!-- <group ns="$(arg robot_name)"> -->
    <!-- synchro and manage node -->
    <include file="$(find potbot)/launch/StereoCamera/synchroImageManage.launch"/>
    <!-- stereo node -->
    <include file="$(find potbot)/launch/StereoCamera/lrfCamera.launch">
      <!--map parameter-->
      <arg name="localMap/width/float" value="$(arg localMap/width/float)"/>
      <arg name="localMap/height/float" value="$(arg localMap/height/float)"/>
      <arg name="localMap/resolution" value="$(arg localMap/resolution)"/>
      <!-- output_screen -->
      <arg name="lrfCamera/output_screen" value="$(arg lrfCamera/output_screen)"/>
    </include>
    <!-- clussification node -->
    <include file="$(find potbot)/launch/StereoCamera/classification.launch">
      <!--map parameter-->
      <arg name="localMap/width/float" value="$(arg localMap/width/float)"/>
      <arg name="localMap/height/float" value="$(arg localMap/height/float)"/>
      <arg name="localMap/resolution" value="$(arg localMap/resolution)"/>
      <!-- rqt_reconfigure -->
      <arg name="classification/rqt_reconfigure" value="$(arg classification/rqt_reconfigure)"/>
      <!-- output_screen -->
      <arg name="classification/output_screen" value="$(arg classification/output_screen)"/>
    </include>
    <!-- image matching node -->
    <include file="$(find potbot)/launch/StereoCamera/imageMatching.launch">
      <arg name="imageMatching/debugType" value="1"/>
      <!--map parameter-->
      <arg name="localMap/width/float" value="$(arg localMap/width/float)"/>
      <arg name="localMap/height/float" value="$(arg localMap/height/float)"/>
      <arg name="localMap/resolution" value="$(arg localMap/resolution)"/>
      <!-- rqt_reconfigure -->
      <arg name="imageMatching/rqt_reconfigure" value="$(arg imageMatching/rqt_reconfigure)"/>
      <!-- output_screen-->
      <arg name="imageMatching/output_screen" value="$(arg imageMatching/output_screen)"/>
    </include>
    <!-- measurement velocity -->
    <include file="$(find potbot)/launch/StereoCamera/measurementVelocity.launch">
      <arg name="measurementVelocity/debugType" value="1"/>
      <!--debug parameter-->
      <arg name="measurementVelocity/timeRange" value="10"/>
      <arg name="measurementVelocity/timeInteval" value="1"/>
      <!-- rqt_reconfigure -->
      <arg name="measurementVelocity/rqt_reconfigure" value="$(arg measurementVelocity/rqt_reconfigure)"/>
      <!-- output_screen-->
      <arg name="measurementVelocity/output_screen" value="$(arg measurementVelocity/output_screen)"/>
    </include>
    <!-- estimation velocity -->
    <include file="$(find potbot)/launch/StereoCamera/velocityEstimation.launch">
      <arg name="estimationVelocity/debugType" value="1"/>
      <!--debug parameter-->
      <arg name="estimationVelocity/timeRange" value="10"/>
      <arg name="estimationVelocity/timeInteval" value="1"/>
      <!-- rqt_reconfigure -->
      <arg name="estimationVelocity/rqt_reconfigure" value="$(arg estimationVelocity/rqt_reconfigure)"/>
      <!-- output_screen-->
      <arg name="estimationVelocity/output_screen" value="$(arg estimationVelocity/output_screen)"/>
    </include>
  <!-- </group> -->

</launch>
