<launch>
	<env name="GAZEBO_MODEL_PATH" value="$(find potbot)/models:$(optenv GAZEBO_MODEL_PATH)"/>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="model" default="$(find megarover_samples)/robots/vmegarover.urdf.xacro"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
	<arg name="world_name" default="$(find gazebo_ros)/worlds/empty.world"/>

  <arg name="name" default=""/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>
  <arg name="laser_visual" default="false"/>
  
  <group if="$(eval name=='')">
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg model)'" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model vmegarover -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -param robot_description" />
    <include file="$(find megarover_samples)/launch/vmegarover_control.launch"/>
  </group>
  
  <group unless="$(eval name=='')" ns="$(arg name)">
    <param name="tf_prefix" value="$(arg name)_tf" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg model)'" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model vmegarover -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -param robot_description" />
    <include file="$(find megarover_samples)/launch/vmegarover_control.launch"/>
  </group>

</launch>
