<launch>
 <node pkg="potbot" name="potbot_co" type="potbot_co" output="screen">
  <param name="ROBOT_NAME" value="megarover"/>
  <!--megarover turtlebot3-->
  <param name="IS_SIMULATOR" value="false"/>
  <param name="PUBLISH_COMMAND" value="true"/>
  <param name="PATH_TRACKING_MARGIN" value="0.3"/>
 </node>
</launch>
