<?xml version="1.0"?>
<robot name="megarover20" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find megarover_samples)/urdf/body/body.urdf.xacro"/>

  <link name="base_footprint"/>

  <xacro:body parent="base_footprint">
    <origin xyz="0 0 0"/>
  </xacro:body>

  <material name="orange">
    <color rgba="1.0 0.5 0.2 1" />
  </material>
  <material name="gray">
    <color rgba="0.2 0.2 0.2 1" />
  </material>

  <link name="laser">
    <visual>
      <origin xyz="0 0 -0.035" />
      <geometry>
        <cylinder length="0.07" radius="0.0175" />
      </geometry>
      <material name="gray" />
    </visual>
  </link>

  <joint name="laser_joint" type="fixed">
    <parent link="base_link" />
    <child link="laser" />
    <origin xyz="0.09 0 0.234"/>
  </joint>

  <joint name="camera_joint" type="fixed">
    <origin xyz="0 0 0.3" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
  </joint>

  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.1 0.02"/>
      </geometry>
      <material name="gray" />
    </visual>
  </link>

  <joint name="camera_rgb_joint" type="fixed">
    <origin xyz="0.003 0.011 0.009" rpy="0 0 0"/>
    <parent link="camera_link"/>
    <child link="camera_rgb_frame"/>
  </joint>
  <link name="camera_rgb_frame"/>

  <joint name="camera_rgb_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
    <parent link="camera_rgb_frame"/>
    <child link="camera_rgb_optical_frame"/>
  </joint>
  <link name="camera_rgb_optical_frame"/>

</robot>
